/* Global */
:root {
  --body-bg-color: #121214;
  --text-color: #e1e1e6;
  --title-color: #04d361;
  --form-color: #a8a8a8;
  --bg-button-color: #8257e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
}

/* start */

body {
  background-color: var(--body-bg-color);
  color: var(--text-color);

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: min(100vw, 1440px);
}

body main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* logo */

.logo img {
  width: 24.3125rem;
  height: 5.875rem;
}

/* Texto */

.information h3 {
  margin-top: 5.75rem;

  font-size: 1.5rem;
  font-family: 'Work Sans', sans-serif;

  color: var(--title-color);
}

.information p {
  margin-top: 0.5625rem;

  font-size: 0.875rem;

  color: var(--text-color);
}

.information p:nth-of-type(1) {
  margin-top: 0.5625rem;

  font-size: 0.875rem;
  font-weight: bold;

  color: var(--text-color);
}

/* Formulário */

fieldset form {
  width: min(90vw, 750px);
}

fieldset {
  margin: 3.125rem 0;
  color: var(--form-color);

  position: relative;
  border: none;

  display: flex;
  align-items: flex-end;
}

fieldset div {
  width: min(90vw, 850px);
  display: flex;
  align-items: flex-end;
}

fieldset input {
  border: none;
  border-left: solid 0.3125rem #04d361;

  margin-top: 1.0625rem;
  width: min(90vw, 800px);
  height: 48px;
}

button {
  width: 48px;
  height: 48px;
  background-color: var(--bg-button-color);
  border: solid 1px var(--bg-button-color);
}

button img {
  margin: 0 auto;
}

.link_news {
  text-decoration: none;
  font-weight: bold;
  color: var(--bg-button-color);
  margin: 10px;
}

.container_link {
  display: flex;
  align-self: center;
}

/* Right */

.img_illustrative h2 {
  opacity: 0;
  position: absolute;
}

@media (max-width: 75rem) {
  body main {
    flex-direction: column;
  }

  p,
  h3 {
    text-align: center;
  }

  img {
    margin: 3.125rem auto 0 auto;
  }

  .img_illustrative {
    margin: 0.5rem auto 2rem auto;
  }
}

@media (max-width: 20.625rem) {
  fieldset div {
    display: block;
  }
  button {
    width: min(90vw, 800px);
  }

  .information h3 {
    margin-top: 2.75rem;
  }

  .img_illustrative {
    margin: 0.1rem auto;
  }
}
